__tests__
.github
build
docs
examples
node_modules
src
.babelrc
.eslintrc
.npmignore
.travis.yml
CONTRIBUTING.md
gulpfile.js
test-helpers.js
test-setup.js
webpack.config.dist.js
webpack.config.js
yarn.lock

bower_components
.sass-cache
demos/*
demos1
TODO.md
npm-debug.log
*.sublime-*
.idea
.vscode
exampleslib
jquery.html
package-lock.json
.DS_STORE